<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Game Over</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="game_over_title">Game Over</h1>
    <p class="game_over">You are out of chips...</p>

    <form action="/reset" method="post">
        <button class="game-button" type="submit">Start a new game</button>
    </form>
</body>
</html>
